
.wrapper {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
  }
  
  .navbar {
    background-color: #e3f2fd;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
    "header header header header header"
    "aside-one main main main aside-two"
    "aside-one main main main aside-two"
    "footer footer footer footer footer"
    ;
  
    min-height: 80vh;
    margin-top: 4rem;
    gap: 0.5rem;
  }
  
  .grid-item {
    font-size: 1rem;
    border: double;
    padding: 1rem;
  }
  
  /* ADD STYLES TO EACH OF THE FOLLOWING SELECTORS */
  
  .header {
    text-align: center;
    grid-area: header;
    font-size: 2rem;
  }
  .header:hover, h2:hover {
  color: white;
  background-color: darkgrey;
  transition: background-color 5s;
  transition: color .4s;
  
  }
  
  .main {
      text-align: center;
    grid-area: main;
  }
  
  .aside-one {
    text-align: center;
    grid-area: aside-one;
  }
  
  .img {
    width: 300px;
    height: 400px;
  }
  
  
  .aside-two {
    text-align: center;
    grid-area: aside-two;
  }
  
  .footer {
    text-align: center;
    grid-area: footer;
    font-size: 1rem;
  }
  
  /* WRITE YOUR CODE HERE */
  
  